@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

h1,h2,h3,body,p{
    margin: 0;
}
ul {
    padding: 0;
}
body{
    background-color: rgba(128, 128, 128, 0.322);
    
}
header{
    background-color: rgb(255, 255, 255);
    padding: 16px 64px;
    
}
h1{
    font-family: 'Playfair Display', serif;
    font-size: 64px;
}
h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
}
main{
    padding: 40px 70px;
    display: flex;
    
}
p{
 font-family: 'Open Sans', sans-serif;
 
}
.t60{
 color: rgba( 0,0,0,0.6);
}
.profissao{
    font-size: 24px;
}
img.foto{
    border: 4px solid #ffc700;
    border-radius: 50%;
    margin-bottom: -80px;
    margin-right: 24px;

}
div.caixa{
    display: inline-block;
    padding-bottom: 10px;
}
div.conteudo{
    display: inline-block;
}
.colunaMenor{
    margin-top: 48px;
}
.colunaMenor img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-right: 9px;

}
.colunaMenor li {
    margin-top: 32px;
    display: flex;
}
.linha{
    border-top: 2px solid;
    width: 80px;
    margin-top: 5px;
}
.experiencias  .linha{
    border-color: #4200FF;
}
.formacao{
    margin-top: 32px;
}
.formacao .linha {
    border-color: #ffc700;
}
.conteudo p {
    flex-wrap: wrap;
}
.colunaMaior{
    
    margin-left: 24px;
}
.habilidades{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}
.habilidades h2{
    font-size: 54px;
    margin-bottom: 20px;
}
div.caixaHabilidades{
    background-color: white;
    border-radius: 19px;
    padding: 10px;
    margin: 10px;
}
.caixaHabilidades li{
    padding: 5px;
    margin: 9px;
}
div.caixaHabilidades p {
    padding: 10px;
    font-size: 9px;
}
.caixaHabilidades h3, .projetos h3 {
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 16px;
}
div.progresso{
    display: flex;
    
}
.barra {
    border: 1px solid grey;
    width: 30px;
}
.barra.cheio{
    border: 1px solid rgb(10, 34, 245);
} 
.projetos{
    display: flex;
    
}
.projeto{
    background-color: white;
    height: 450px;
    padding: 24px;
    margin: 10px;
    border-radius: 10px;
}
.projeto img{
    height: 200px;
    width: 350px;
    padding: 15px 0px;   
}
.projeto a {
    height: 10px;
    width: 40px;
    background-color: blue;
    color: rgba(255, 255, 255, 0.705);
    text-decoration: none;
    border-radius: 4px;
    padding: 5px 15px;
    
}
.projeto a:hover {
    background-color: turquoise;
    border-radius: 20px;
    padding: 15px;
}